/* BtnCart.css */
.inner-btn-cart {
  width: 127px;
}
.inner-btn-cart .cart-btn {
  background-color: #1f2937;
  color: white;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.inner-btn-cart > .cart-btn > i {
  position: relative;
}

.cart-quatity {
  position: absolute;
  top: -8px;
  right: -10px;
  left: auto;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ef4444;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: bold;
  font-family: Arial, sans-serif;

  border: 1px solid #1f2937;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.cart-text {
  font-size: 14px;
  font-weight: 500;
}

.inner-btn-cart {
  position: relative;
}
@media (max-width: 999px) {
  .inner-btn-cart {
    width: auto;
  }
  .inner-btn-cart .cart-btn {
    padding: 0;
    width: 40px; /* Thành hình tròn */
    justify-content: center;
    border-radius: 50%;
    background-color: #1f2937;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {
  .inner-btn-cart .cart-btn {
    padding: 0;
    width: 40px; /* Thành hình tròn */
    justify-content: center;
    border-radius: 50%;
    background-color: #1f2937;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* Ẩn chữ Giỏ hàng */
  .cart-text.desktop-only {
    display: none;
  }
}
