/* BtnUser.css */
.inner-btn-user {
    background-color:#7d161c;
    border: none;
    width: 127px;
    height: 40px;
    border-radius: 50px; /* Hình tròn */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    gap: 8px;
    transition: 0.2s;
    padding: 0 15px ;
   
}
.user-text{
    font-size: 14px;
    font-weight: 500;
}
.inner-btn-user:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 998px) {
    .inner-btn-user  {
        padding: 0;
        width: 40px; /* Thành hình tròn */
        justify-content: center;
        border-radius: 50%;
        background-color: #1f2937;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* Ẩn chữ Giỏ hàng */
    .user-text.desktop-only {
        display: none;
    }
}